.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

body {
  background-image: linear-gradient(0deg, rgb(236, 179, 93), white);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(85, 85, 85);
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-image: linear-gradient(0deg, rgb(121, 58, 58), white);
  background-repeat: no-repeat;
  border-right-style: solid;
  border-right-width: 2px;
  border-color: rgb(85, 85, 85);
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

img {
  height: 22px;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
